<div>
	<h3>{{mode}}</h3>
	<div *ngIf="!modal">
			<button type="button" class="btn btn-default btn-sm" [class.disabled]="!selectedItem" (click)="onView(selectedItem)">View</button>
			<button type="button" class="btn btn-default btn-sm" [class.disabled]="!selectedItem" (click)="onEdit(selectedItem)">Edit</button>
			<button type="button" class="btn btn-default btn-sm" [class.disabled]="!selectedItem" (click)="onDelete(selectedItem)">Del</button>
			<button type="button" class="btn btn-default btn-sm" (click)="onAdd()">Add</button>
	</div>
	<div *ngIf="modal">
			<button type="button" class="btn btn-default btn-sm" [class.disabled]="!selectedItem" (click)="onSelectAndClose(selectedItem)">Select</button>
			<button type="button" class="btn btn-default btn-sm" (click)="onClose()">Cancel</button>
	</div>
	<div>
		<button type="button" class="btn btn-default btn-xs" [class.disabled]="page <= 1" (click)="onFirst()"> << </button> 
		<button type="button" class="btn btn-default btn-xs" [class.disabled]="page <= 1" (click)="onPrev(page)"> < </button> 
		Items:{{start}}-{{end}}/{{total}} Page:{{page}}/{{pages}} <input [(ngModel)]="count"/>
		<button type="button" class="btn btn-default btn-xs" [class.disabled]="page >= pages" (click)="onNext(page)"> > </button>
		<button type="button" class="btn btn-default btn-xs" [class.disabled]="page >= pages" (click)="onLast()"> >> </button>
	</div>
	<div >
		<table class="table table-striped table-condensed table-hover ">
			<thead>
				<tr>
					<th *ngFor="let header of headers">
						<div *ngIf="header.name !== 'uuid'" (click)="onSort(header)">{{header.name}} 
							<span><sup>{{getOrder(header)}}</sup></span>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of data" (click)="onSelect(item)">
					<td *ngFor="let h of headers" [class.info]="item === selectedItem">
						<div *ngIf="h.name !== 'uuid'">
							<div *ngIf="!h.references"> {{item[h.name]}}</div>
							<div *ngIf="h.references && item[h.name] !== null"> {{item[h.name].d}}</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
