    <style>
      .seekfield {
      	font-weight: normal;
      	font-size: 75%;
      }
      .header-fixed {
    	width: 100% 
		}
		.table-nonfluid {
		   width: auto !important;
		}
		.scroll-both {
		    overflow: auto;
		}
    </style>
    <div class="">
	    <div>
			<h3>{{dmode}} <div *ngIf="modal">(выбор)</div></h3>
			<h4 *ngIf="parent && parent.dmode && parent?.d"><a [routerLink]="['/l', parent.mode]">{{parent.dmode}}</a>: <a [routerLink]="['/l', parent.mode, parent.id]">{{parent?.d}}</a></h4>
			<div *ngIf="!modal" >
				<div class="btn-group">
						<button type="button" class="btn btn-default btn-sm" [class.disabled]="!selectedItem" (click)="onView(selectedItem)">{{labels.View}}</button>
						<button type="button" class="btn btn-default btn-sm" [class.disabled]="!selectedItem" (click)="onEdit(selectedItem)">{{labels.Edit}}</button>
						<button type="button" class="btn btn-default btn-sm" [class.disabled]="!selectedItem" (click)="onCopy(selectedItem)">{{labels.Copy}}</button>
						<button type="button" class="btn btn-default btn-sm" [class.disabled]="!selectedItem" (click)="onDelete(selectedItem)">{{labels.Del}}</button>
						<button type="button" class="btn btn-default btn-sm" (click)="onAdd()">{{labels.Add}}</button>
				</div>
				
				<dropdown-button *ngIf="!modal &&  dependencies && dependencies[0]" [caption]="'Перейти к …'" [menuitems]="dependencies" [selectedItem]="selectedItem" [parent]="{'id':selectedItem?.id, 'mode': mode, 'dmode': dmode, 'd': selectedItem?.d}" [disabled]="!selectedItem">
				</dropdown-button>
				
				<div class="btn-group">
					<div *ngFor="let action of actions">
						<button *ngIf="action.name" type="button" class="btn btn-default btn-sm" [class.disabled]="action.progress && action.progress === 1" (click)="onAction(action)">{{action.name}}</button>
					</div>
				</div>
				
			</div>
			<div *ngIf="modal" class="btn-group">
					<button type="button" class="btn btn-default btn-sm" [class.disabled]="!selectedItem" (click)="onSelectAndClose(selectedItem)">{{labels.Select}}</button>
					<button type="button" class="btn btn-default btn-sm" (click)="onClose()">{{labels.Cancel}}</button>
			</div>
			<div>
				<button type="button" class="btn btn-default btn-xs" (click)="onRefresh()">{{labels.Refresh}}</button>
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-xs" [class.disabled]="page <= 1" (click)="onFirst()"> << </button> 
				<button type="button" class="btn btn-default btn-xs" [class.disabled]="page <= 1" (click)="onPrev(page)"> < </button> 
			</div>
			<span>
				{{start}}-{{end}}/{{total}} {{page}}/{{pages}} <input [(ngModel)]="count"/>
			</span>
			<div class="btn-group"> 
				<button type="button" class="btn btn-default btn-xs" [class.disabled]="page >= pages" (click)="onNext(page)"> > </button>
				<button type="button" class="btn btn-default btn-xs" [class.disabled]="page >= pages" (click)="onLast()"> >> </button>
			</div>
		</div>
	</div>
	<div class="">
		<table class="table table-striped table-condensed table-hover table-nonfluid">
			<thead>
				<tr>
					<th *ngFor="let header of dheaders">
						<div [class.text-right]="header.type === 'numeric'">
						<div (click)="onSort(header, $event)">
							<span>{{getOrder(header).sign}}</span>							
							<span *ngIf="getOrder(header).count > 1"><sup>{{getOrder(header).seq}}</sup></span> 
						{{header?.d}} 
						</div>
						<div class="seekfield">
							<input [(ngModel)]="header.filter" />
						</div>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of data" (click)="onSelect(item)">
					<td *ngFor="let h of dheaders" [class.info]="item === selectedItem">
						<div>
							<div *ngIf="!h.references && h.type !== 'numeric' && h.type !== 'timestamp with time zone'" > {{item[h.name]}}</div>
							<div *ngIf="!h.references && h.type === 'numeric'" class="text-right"> {{item[h.name] | number:'1.2-2'}}</div>
							<div *ngIf="!h.references && h.type === 'timestamp with time zone'" class="text-right"> {{item[h.name] | tstz }}</div>
							<a *ngIf="h && h.references && item && item[h.name] && item[h.name] !== null" (click)="onDetail(h, item[h.name].id)" [routerLink]="['/l', h.references.table, item[h.name].id]"> {{item[h.name]?.d}} </a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
