<div>
	<h3>{{mode}}</h3>
	<div>
			<button type="button" class="btn btn-default btn-xs" [class.disabled]="!selectedItem" (click)="onView(selectedItem)">View</button>
			<button type="button" class="btn btn-default btn-xs" [class.disabled]="!selectedItem" (click)="onEdit(selectedItem)">Edit</button>
			<button type="button" class="btn btn-default btn-xs" [class.disabled]="!selectedItem" (click)="onDelete(selectedItem)">Del</button>
			<button type="button" class="btn btn-default btn-xs" (click)="onAdd()">Add</button>
	</div>
	<div >
		<table class="table table-striped table-condensed table-hover ">
			<thead>
				<tr>
					<th *ngFor="let header of headers">
						<div *ngIf="header.name !== 'uuid'">{{header.name}}</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of data" (click)="onSelect(item)">
					<td *ngFor="let h of headers" [class.info]="item === selectedItem">
						<div *ngIf="h.name !== 'uuid'"> {{item[h.name]}}</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
