<div>
	<h3 (click)="onGo(mode)">{{mode}}</h3>
	<div>
			<button type="button" class="btn btn-default btn-xs" *ngIf="!editMode" [class.disabled]="!item" (click)="onEdit(item)">Edit</button>
			<button type="button" class="btn btn-default btn-xs" *ngIf="editMode" [class.disabled]="!item" (click)="onSave(item)">Save</button>
			<button type="button" class="btn btn-default btn-xs" *ngIf="editMode !== 'new'"[class.disabled]="!item" (click)="onDelete(item)">Del</button>
	</div>
	<div>
		<table *ngIf="item" class="table table-bordered">
			<thead>
				<tr>
					<th>
						name
					</th>
					<th>
						value
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let h of headers" >
					<td>
						{{h.name}}
					</td>
					<td >
						<input *ngIf="editMode && h.name !== 'uuid'" [(ngModel)]="item[h.name]"/>
						<div *ngIf="!editMode || h.name === 'uuid'">{{item[h.name]}}</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
