    <style>
      .select-list {
      		position: absolute;
	        left: 0;
	        right: 0;
	        top: 0;
	        bottom: 0;
	        padding: 10;
	        overflow: auto;
	        background-color: white;
		    border-width: 5;
		    border-color: gray;
		    border-style: solid;
		    border-radius: 10px;
		    padding: 5px;
      }
      .select-header {
		background-color: #999;
		width: 100%;
      }
	.table-nonfluid {
	   width: auto !important;
	}
    </style>

    <div>
	<h3><div>{{dmode}}:</div></h3>
	<h4 *ngIf="item.d">{{item.d}}</h4>
	<div>
		<div class="btn-group">
				<button type="button" class="btn btn-default btn-sm" *ngIf="!editMode" [class.disabled]="!item" (click)="onEdit(item)">{{labels.Edit}}</button>
				<button type="button" class="btn btn-default btn-sm" *ngIf="!editMode" [class.disabled]="!item" (click)="onCopy(item)">{{labels.Copy}}</button>
				<button type="button" class="btn btn-default btn-sm" *ngIf="editMode" [class.disabled]="!item" (click)="onCancel(item)">{{labels.Cancel}}</button>
				<button type="button" class="btn btn-default btn-sm" *ngIf="editMode" [class.disabled]="!item" (click)="onSave(item)">{{labels.Save}}</button>
				<button type="button" class="btn btn-default btn-sm" *ngIf="editMode !== 'new'"[class.disabled]="!item" (click)="onDelete(item)">{{labels.Del}}</button>
				<button type="button" class="btn btn-default btn-sm" *ngIf="!editMode" (click)="onAdd()">{{labels.Add}}</button>
		</div>	

		<dropdown-button *ngIf="!editMode && dependencies && dependencies[0]" [caption]="'Перейти к …'" [menuitems]="dependencies" [selectedItem]="item" [parent]="{'id':item.id, 'mode': mode, 'dmode': dmode, 'd': item.d}" [disabled]="!item">
		</dropdown-button>	
		<div class="btn-group" *ngIf=" editMode === 'e' ">
			<div *ngFor="let action of actions">
				<button *ngIf="action.name" type="button" class="btn btn-default btn-sm" [class.disabled]="action.progress && action.progress === 1" (click)="onAction(action)">{{action.name}}</button>
			</div>
		</div>
</div>


	<div>
		<table *ngIf="item" class="table table-striped table-condensed table-hover table-nonfluid">
			<tbody>
				<tr *ngFor="let h of dheaders" >
					<td>
						<strong>{{h.d}}</strong>
					</td>
					<td >
					 	<button *ngIf="h.type === 'json' || h.type === 'jsonb'" type="button" class="btn btn-default btn-xs" (click)="h.jsonShow = !h.jsonShow">
							{{(h.jsonShow)?'-':'+'}}
						</button> 
						<div *ngIf="!editMode || h.name === 'id' || h.name === 'ts'">
							<div *ngIf="!h.references">
								<div *ngIf="h.type !== 'json' && h.type !== 'jsonb'">
									{{item[h.name]}} 									
								</div>
								<div *ngIf="h.type === 'json' || h.type === 'jsonb'">
									<json-view *ngIf="h.jsonShow" [data]="item[h.name]" [editMode]="editMode">
									</json-view> 
								</div>
							</div>
							<a *ngIf="h.references &&  h.references.table && item[h.name] && item[h.name] !== null && item[h.name].id" [routerLink]="['/l', h.references.table, item[h.name].id]"> {{item[h.name].d}} </a>
						</div>
						<div *ngIf="editMode && h.name !== 'id' && h.name !== 'ts'">
							<div *ngIf="h.type !== 'json' && h.type !== 'jsonb'">
								<input *ngIf="!h.references" [type]="getType(h)" step="any" [(ngModel)]="item[h.name]"/>
							</div>
							<div *ngIf="h.type === 'json' || h.type === 'jsonb'">
								<textarea *ngIf="h.jsonShow">{{item[h.name]|json}}
								</textarea>
							</div>
							

							<select *ngIf="h.references && h.references.table === 'enums' && foreigners[h.name] && foreigners[h.name].list"  [ngModel]="item[h.name] | json" (ngModelChange)="item[h.name]=parseEvent($event)">
								<option *ngIf="h.nullable" [value]="null"> - </option>
								<option *ngFor="let l of foreigners[h.name].list" [value]="l | json">{{l.d}}</option>
							</select>

							<div *ngIf="h.references && h.references.table !== 'enums'">
								<input *ngIf="item[h.name] !== null && item[h.name] && item[h.name].d" readonly="readonly" [type]="getType(h)" [ngModel]="item[h.name].d" />
								<button *ngIf="h.references" type="button" class="btn btn-default btn-xs" (click)="openSelect(h)" >Change</button>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div >
	<div *ngIf="selectIsVisible && refmode" >
		<div class="select-list">
			<div >
				<div >
					<div class="select-header">Выберите значение</div>
					<listpage [imode]="refmode" (selectEvent)="onSelectValue(refname,$event)"></listpage>
				</div>
			</div>
		</div>
	</div>
</div>
