    <style>
      .select-list {
      		position: absolute;
	        left: 0;
	        right: 0;
	        top: 0;
	        bottom: 0;
	        padding: 10;
	        overflow: auto;
	        background-color: white;
      }
    </style>

    <div>
	<h3 (click)="onGo(mode)">{{mode}}</h3>
	<div>
			<button type="button" class="btn btn-default btn-xs" *ngIf="!editMode" [class.disabled]="!item" (click)="onEdit(item)">Edit</button>
			<button type="button" class="btn btn-default btn-xs" *ngIf="editMode" [class.disabled]="!item" (click)="onSave(item)">Save</button>
			<button type="button" class="btn btn-default btn-xs" *ngIf="editMode !== 'new'"[class.disabled]="!item" (click)="onDelete(item)">Del</button>
	</div>
	<div>
		<table *ngIf="item" class="table table-striped table-condensed table-hover">
			<tbody>
				<tr *ngFor="let h of headers" >
					<td>
						{{h.name}}
					</td>
					<td >
						<div *ngIf="!editMode || h.name === 'uuid'">
							<div *ngIf="!h.references"> {{item[h.name]}} </div>
							<div *ngIf="h.references && item[h.name] && item[h.name] !== null"> {{item[h.name].d}} </div>
						</div>
						<div *ngIf="editMode && h.name !== 'uuid'">
							<input *ngIf="!h.references" [type]="getType(h)" [(ngModel)]="item[h.name]"/>

							<select *ngIf="h.references && h.references.table === 'enums' && foreigners[h.name] && foreigners[h.name].list" [ngModel]="item[h.name] | json" (ngModelChange)="item[h.name]=parseEvent($event)">
								<option *ngIf="h.nullable" [value]="null"> - </option>
								<option *ngFor="let l of foreigners[h.name].list" [value]="l | json">{{l.d}}</option>
							</select>

							<div *ngIf="h.references && h.references.table !== 'enums' && foreigners[h.name] && foreigners[h.name].list">
								<input *ngIf="item[h.name] !== null" readonly="readonly" [type]="getType(h)" [ngModel]="item[h.name].d" />
								<button *ngIf="h.references" type="button" class="btn btn-default btn-xs" (click)="openSelect()" >Change</button>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div >
	<div *ngIf="selectIsVisible" >
		<div class="select-list">
			<div >
				<div >
					SELECT
					<listpage [mode]="'buildings'" (selectEvent)="onSelectValue('parent',$event)"></listpage>
				</div>
			</div>
		</div>
	</div>
</div>
