<div>
	<h3>О платформе</h3>
	<p>FLAP: The Magic Inside! Магия внутри</p>
<ul>
	<li><a href="https://github.com/egno/flas/wiki">Wiki</a></li>
	<li><a href="https://egno.github.io">Об авторе</a></li>
</ul>
	<h4>Client settings</h4>
	<ul>
		<li><span>version:</span> {{config.version}}</li>
		<li><span>API path:</span> <input [(ngModel)]="config.api"/>
			<button type="button" class="btn btn-default btn-xs" (click)="onSave('api')">Save</button>
		</li>
	</ul>
</div>
<div>
	<div *ngIf="errorMessage">
		<div>No connection to server</div>
		<div>{{errorMessage}}</div>
	</div>
</div>
