<div>
	<h3>About</h3>
	<h4>Client settings</h4>
	<ul>
		<li><span>version:</span> {{config.version}}</li>
		<li><span>API path:</span> <input [(ngModel)]="config.api"/>
			<button type="button" class="btn btn-default btn-xs" (click)="onSave('api')">Save</button>
		</li>
	</ul>
</div>
<div>
	<h4>Server settings</h4>
	<div *ngIf="errorMessage">
		<div>No connection to server</div>
		<div>{{errorMessage}}</div>
	</div>
	<ul>
		  <li *ngFor="let item of settings">
		    <span>
		      <span>{{item.d}}:</span> {{item.value}}
		    </span>
		  </li>
	</ul>
	<h3>О платформе</h3>
	<a href="https://github.com/egno/flas/wiki">Wiki</a>
	<a href="https://egno.github.io">Об авторе, контакты</a>

</div>
